*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #D9D9D9;
}

input:invalid {
    border: 2px dashed red;
}
  
input:valid {
    border: 2px solid rgb(255, 255, 255);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}
.navbar {
    overflow: hidden;
    background-color: #b8b8b8;
    top: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #b8b8b8;
    color: black;
}
.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}


@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.logo{
    float: left;
    padding: 0.5%;
    padding-left: 5%;
}

.baseboard{
    overflow: hidden;
    background-color: #b8b8b8;
    bottom: 0;
    width: 100%;
    padding: 1%;
    text-align: center;
    place-self: center;
}

.baseboard button {
    padding: 1%;
    float: center;
    position: center;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.baseboard button:hover {
    background-color: #b8b8b8;
    color: rgb(255, 255, 255);
}

.text-content{
    position: relative;
    float: center;
    text-align: center;
}

.title{
    position: relative;
    float: center;
    text-align: center;
    padding: 1%;
}

.subtitle{
    position: relative;
    float: center;
    text-align: center;
    padding: 1%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #00769D;
}

.text{
    position: relative;
    float: center;
    text-align: center;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}


form {
    font: 1em sans-serif;
    max-width: 320px;
    margin: auto;
  }
  
  p > label {
    position: relative;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  fieldset {
    width: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  
  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    box-shadow: none;
  }
  
.container-riscos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.container-riscos{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-content{
    padding: 5%;
}

.txt{
    padding: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #003249;
}

validation{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.btn-riscos button{
    margin: 5%;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%; 
    background: #0090D5;
    border: 1px solid #000000;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    color: aliceblue;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.options{
    object-fit: contain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 10%;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    justify-content: space-between;
    text-align: left;
}
.opt-txt{
    margin-right: auto;
    padding-bottom: 10%;
}

.opt-txt input {
    border: 1px solid #ffffff;
    text-align: center;
    width: 41px;
    height: 41px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.opt-txt label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    color: #165C7D;
}


